header.top-navbar {
    background: #00dafc;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  header.top-navbar a{
    color: #fff;
  }
  
  header.top-navbar form {
    display: flex;
    border-radius: 10px;
    background: #fff;
    padding: 0 10px;
  }

  header.top-navbar input {
    border: none;
    padding: 4px;
    outline: none;
    width: 200px;
  }