.card {
    background: var(--main-secondary-color); /*#fff;*/
    padding: 10px;
    color: var(--main-text-color);
    overflow: hidden;
    height: 300px;
    cursor: pointer;
}

.card .img-wrap {
   overflow: hidden;
   height: 185px;
}

.card .driver-type {
    background: var(--main-primary-color);
    border-radius: 50px;
    position: relative;
    top: -20px;
    left: -32px;
    height: 40px;
    width: 40px;
}

.card img {
    width: 170px;
}
.card .details-container{
    background: var(--main-secondary-color);
    transition: 0.1s ease-in-out;
}
.card .details-container:hover {
    transform: translateY(-100px)
}

